
ZeitschriftenDBViewer.pro.user.b51d634
ZeitschriftenDBViewer.pro.user
*.user
*.user
*.autosave
*.zip
*.obj
debug/
release/
settings.json

.qmake.stash
DatenbankListen/clistencontroller.cpp
debug/cartikel.obj
debug/cartikeldisplaylist.obj
debug/causgabe.obj
debug/causgabedisplaylist.obj
debug/ccolumn.obj
debug/cjahr.obj
debug/cjahrdisplaylist.obj
debug/clistencontroller.obj
debug/csqlitedbloader.obj
debug/main.obj
debug/moc_cartikeldisplaylist.cpp
debug/moc_cartikeldisplaylist.obj
debug/moc_causgabedisplaylist.cpp
debug/moc_causgabedisplaylist.obj
debug/moc_cjahrdisplaylist.cpp
debug/moc_cjahrdisplaylist.obj
debug/moc_clistencontroller.cpp
debug/moc_clistencontroller.obj
debug/moc_csqlitedbloader.cpp
debug/moc_csqlitedbloader.obj
debug/moc_predefs.h
debug/qrc_desktop.cpp
debug/qrc_desktop.obj
debug/sqlite3.obj
debug/ZeitschriftenDBViewer.exe
debug/ZeitschriftenDBViewer.ilk
debug/ZeitschriftenDBViewer.pdb
debug/ZeitschriftenDBViewer.vc.pdb
GEO_Register.db
Makefile
Makefile.Debug
Makefile.Release
